@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/buy_back2.png");
}
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
    z-index: -1;
}
nav {
    padding: 10px;
    width: 90%;
    margin-inline: auto;
    border: 0.5px solid #ffcad4;
    border-radius: 20px;
    background-color: #ffcad4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
nav :is(a:hover, a:focus) {
    transform: scale(1.2);
    transition: all 0.5s ease;
}
ul {
    list-style-type: none;
    list-style-position: inside;
    font-size: 1.7rem;
    text-align: justify;
    font-weight: 500;
    font-family: "PT Serif", serif;
    padding: 10px;
    color: #283618;
}
main #websites {
    position: relative;
    width: 80%;
    margin: 50px auto 20px auto;
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main p {
    font-size: 1.7rem;
    text-align: justify;
    font-weight: 500;
    font-family: "PT Serif", serif;
    padding: 10px;
    color: whitesmoke;
}
#shopping a{
    text-decoration: none;
    display: block;
    color: #cdb4db;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}
#shopping :is(a:hover, a:focus) {
    text-decoration: underline;
    transform: scale(1.1);
    transition: all 0.3s ease;
    transform-origin: left center;
}
#buy-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    z-index: -1;
}
footer p{
    position: relative;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
    font-family: "PT Serif", serif;
    padding: 10px;
    margin: 100px auto 10px auto;
    width: 50%;
    background-color: #dee2e6;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer p::before {
    content: open-quote;
    font-size: 3rem;
    top: -0.25em;
}
footer p::after {
    content: close-quote;
    font-size: 3rem;
    top: -0.25em;
}